@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-900 text-gray-100;
    -moz-osx-font-smoothing: antialiased; /*Firefox*/
	font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased; /* WebKit  */ /*Deixa a fonte mais limpa*/
}